.bandeira {
        visibility: hidden;
}
    
.label {
    display: block;
    border: 2px solid #ccf;
    width: 130px;
    margin-right: 3px;
    float: left;
}

.bandeira:checked+.label {
    border-color: #666;
}
img {
  height: 50px;
}